<div class="logo">
    LOGO
</div>
<div class="search">
    <input type="text" />
    <div class="btn btn-search">
        SEARCH
    </div>
</div>
<% if !authenticated? %>
    <%= link_to "Login", new_session_path, class: "btn" %>
    <%= link_to "Sign In", signup_path, class: "btn" %>
<% else%>
    <%= link_to "Logout", session_path, data: { turbo_method: :delete } , class: "btn" %>
    <div class="profbtn">
        <i class="fa-solid fa-user user-btn"></i>
    </div>
<% end %>