<header class="navbar is-fixed-top is-outlined" role="navigation" aria-label="main navigation">
    <div class="navbar-start is-outlined has-text-centered content is-large">
        <p> qui va la data </p>
    </div>
    <div class="navbar-item has-text-centered is-large">
        <h1> JOIN! </h1>
    </div>
    <div class="navbar-end is-outlined">
        <p> qui va il bottone login </p>
    </div>
</header>