<div class="logo">
    LOGO
</div>
<div class="search">
    <input type="text" />
    <div class="btn btn-search">
        SEARCH
    </div>
</div>
<div class="profbtn">
    <i class="fa-solid fa-user user-btn"></i>
</div>