<div class="container theme-light">
    <div class="content is-large">
        <h1> CIAO QUESTA E' UNA PROVA </h1>
        <p> Anche questa è una prova </p>
        <div class="has-text-centered">
            <h2> questo è h2, sarà anche centrato?</h2>
        </div>
    </div>
</div>

    