<div class="main-container">
    <div class="left-column">
        <%= render "home/operation"%>
    </div>
    <div class="main-column">
        <%= render "home/main"%>
    </div>
    <div class="right-column">
        <%= render "home/messenger"%>
    </div>
</div>