footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: darkslategray;
    height: 2em;
    font-style: italic;
    font-size: 1vm;
    display: flex;

    > div {
        flex: 1;
        align-items: center;
        text-align: center;
    }
}