header {
    position: sticky;
    top: 0;
    background-color:rgb(89, 89, 165);
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    padding: 0.1em;
    

    .logo {
        position: absolute;
        left: 0;
        font-size: 2rem;
        padding: 0 0.5em ;
    }

    .search {
        width: 20em;
        height: 4vh;
        border-radius: 50px;
        border: 1px solid #dcdcdc;
        outline-color: none;
        cursor: text;
        background-color: white;
        display:flex;
        flex-direction: row;
        vertical-align: middle;
        align-items: center;
        align-self: center;

        input {
            color: rgba(0,0,0,.87);
            outline-color: none;
            background-color: transparent;
            border:none;         
            flex-grow:1;
            

        }

        .btn-search {         
            padding: 0 1em;
        }
    }
    .sign {
        padding: 0 1em;
    }

    .btn {
        padding: 0 1em;
        align-items: stretch;
        text-decoration: none;

    }

}