.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    height: calc(100vh - 6.4em);
    
        
    .main-column {
        height:100%;
        display: flex;
        flex-direction: column;
        border-style: groove;
        border-width: 4px;
        align-items: center;
        justify-content: start;
        justify-self: stretch;
        
    }
}

.eventscreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em;
    padding: 1em;
    gap: 1em;

    details {  
        justify-self: center;  
    }
    
   
    summary {
        display: inline;
        .event {
            display:grid;
            grid-template-columns: 3fr, 2fr, 1fr,1fr;
            font-style: italic;
            div {
                align-items: center;
            }
        }
    }

    details[open] {
        padding: 0.5em;
    }
      
    details[open] summary {
        border-bottom: 1px solid #733030;
        margin-bottom: 0.5em;
    }
      
}